# Data Types and Structures Questions

Q1. What are data structures, and why are they important?
  - A data structure is a way of organizing, storing, and managing data to enable efficient access and modification,
  Data structures are important because they optimize data storage, retrieval, and manipulation, improving algorithm efficiency, memory usage, and scalability in software development.

Q2. Explain the difference between mutable and immutable data types with
  examples.

 - Mutable data types, such as lists and dictionaries, allow modifications after creation, whereas immutable data types, like strings and tuples, cannot be changed once assigned, requiring the creation of a new object for any modification.

Q3. What are the main differences between lists and tuples in Python?

  - Lists in Python are mutable, allowing modifications after creation, whereas tuples are immutable, meaning their values cannot be changed once assigned; additionally, lists have higher memory usage and slower performance compared to tuples, which are more memory-efficient and faster due to their fixed nature.

Q4. Describe how dictionaries store data?

  - Dictionaries in Python store data as key-value pairs using a hash table internally, where each key is hashed to determine its unique memory location, allowing for fast retrieval, insertion, and deletion operations with an average time complexity of O(1).

Q5. Why might you use a set instead of a list in Python?

  - We might use a set instead of a list in Python when we need to store unique elements and perform fast membership checks because sets eliminate duplicates automatically and provide average O(1) time complexity for lookups, while lists require O(n) time for the same operation.

Q6. What is a string in Python, and how is it different from a list?

  - A string in Python is an immutable sequence of characters used to represent text, whereas a list is a mutable sequence that can store elements of different data types. Unlike lists, strings cannot be modified after creation, and any change requires creating a new string.

Q7. How do tuples ensure data integrity in Python?

  - Tuples ensure data integrity in Python by being immutable, meaning their values cannot be modified, added, or removed after creation, preventing accidental changes and ensuring data remains consistent throughout the program.

Q8. What is a hash table, and how does it relate to dictionaries in Python?

  - A hash table is a data structure that stores key-value pairs using a hashing function to map keys to unique memory locations, enabling fast lookups, insertions, and deletions. In Python 3, dictionaries (dict) are implemented using a hash table, allowing average O(1) time complexity for key-based operations.

Q9. Can lists contain different data types in Python?

  - Yes, lists in Python 3 can contain different data types, allowing elements such as integers, strings, floats, and even other lists or objects to coexist within the same list.

Q10. Explain why strings are immutable in Python?

  - Strings are immutable in Python because they are stored as fixed sequences of characters in memory, and modifying a string would require creating a new object rather than altering the existing one. This design enhances performance, security, and memory efficiency, especially when handling large-scale text operations.

Q11. What advantages do dictionaries offer over lists for certain tasks?

  - Dictionaries offer advantages over lists for certain tasks by providing **fast key-based lookups (O(1) time complexity)**, ensuring **efficient data retrieval**, storing **key-value pairs** for structured data, and enabling **quick updates and deletions**, whereas lists require **O(n) time complexity** for searches and lack direct key-based access.

Q12. Describe a scenario where using a tuple would be preferable over a list.

  - A tuple would be preferable over a list when storing **fixed, unchangeable data** such as **coordinates (x, y, z)**, **database records**, or **configuration settings**, ensuring **data integrity** and **faster performance** due to its **immutability** and **lower memory overhead**.

Q13. How do sets handle duplicate values in Python?

  - Sets in Python 3 automatically **eliminate duplicate values** by storing only **unique elements** using a **hash table**, ensuring that any repeated value added to the set is ignored.

Q14.  How does the “in” keyword work differently for lists and dictionaries?

  - In Python 3, the **`in`** keyword checks for membership but works differently for **lists** and **dictionaries**:  

- **For lists**, it performs a **linear search (O(n) time complexity)**, checking each element sequentially.  
- **For dictionaries**, it checks for the **presence of a key, not values**, using a **hash table lookup (O(1) average time complexity)** for fast access.

Q15. Can you modify the elements of a tuple? Explain why or why not?

  - No, you **cannot** modify the elements of a **tuple** because tuples are **immutable** in Python. Once created, their elements cannot be changed, added, or removed, ensuring **data integrity** and **optimization** in terms of memory and performance.

Q16. What is a nested dictionary, and give an example of its use case?

  - A nested dictionary is a dictionary that contains another dictionary as a value, allowing hierarchical data storage.

In [3]:
# Example Use Case

students = {
    "101": {"name": "Alice", "age": 20, "grades": {"math": 90, "science": 85}},
    "102": {"name": "Bob", "age": 22, "grades": {"math": 88, "science": 92}}
}

Q17. Describe the time complexity of accessing elements in a dictionary.

  - Accessing elements in a dictionary in Python has an **average time complexity of O(1)** because dictionaries use a **hash table** for key-based lookups. However, in the **worst case**, due to **hash collisions**, the time complexity can be **O(n)** when multiple keys hash to the same index, requiring a linear search.

Q18. In what situations are lists preferred over dictionaries?

  - Lists are preferred over dictionaries when:  

1. **Order Matters** – Lists maintain the order of elements, whereas dictionaries (before Python 3.7) do not.  
2. **Sequential Data** – When storing a collection of values without key-value relationships.  
3. **Iterative Processing** – Lists are better for sequential access and indexed iterations.  
4. **Memory Efficiency** – Lists use less memory compared to dictionaries, which store extra metadata for keys.  
5. **Duplicate Values** – Unlike dictionaries, lists allow duplicate elements.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  - Dictionaries were considered **unordered** before Python **3.7** because they used a **hash table**, which did not guarantee key order. However, from **Python 3.7+**, dictionaries **preserve insertion order** while still using hashing for fast lookups.  

This affects data retrieval because:  
1. **Before Python 3.7**, iterating over a dictionary could return keys in an unpredictable order.  
2. **From Python 3.7 onwards**, items are retrieved in the order they were inserted, making iteration more predictable while still maintaining **O(1) lookup time**.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval.

  - The key difference between **lists** and **dictionaries** in terms of data retrieval is:  

- **Lists** use **index-based retrieval**, requiring **O(1) time complexity** for direct access (`list[index]`), but searching for a specific value takes **O(n) time** in the worst case.  
- **Dictionaries** use **key-based retrieval**, leveraging a **hash table** to provide **O(1) average time complexity** for lookups (`dict[key]`), making them much faster for retrieving specific elements compared to lists.

# Practical Questions

In [4]:
# Write a code to create a string with your name and print it.

name = "Kamran Sohail"
print(name)

Kamran Sohail

In [5]:
# Write a code to find the length of the string "Hello World".

string = "Hello World"
len(string)

11

In [7]:
# Write a code to slice the first 3 characters from the string "Python Programming".

text = "Python Programming"
sliced_text = text[:3]  # Slices the first 3 characters
print(sliced_text)

Pyt

In [9]:
# Write a code to convert the string "hello" to uppercase.

text = "hello"
text.upper()

'HELLO'

In [10]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple".

text = "I like apple"
modified_text = text.replace("apple", "orange")
print(modified_text)

I like orange

In [11]:
# Write a code to create a list with numbers 1 to 5 and print it.

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
#  Write a code to append the number 10 to the list [1, 2, 3, 4].

numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [13]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [14]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

letters = ['a', 'b', 'c', 'd']
second_element = letters[1]
print(second_element)

b

In [15]:
# Write a code to reverse the list [10, 20, 30, 40, 50].

numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [16]:
# Write a code to create a tuple with the elements 100, 200, 300 and print it.

numbers = (100, 200, 300)
print(numbers)

(100, 200, 300)

In [17]:
#  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [18]:
#  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print(min_number)

5

In [19]:
# Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [20]:
# Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")
is_kiwi_present = "kiwi" in fruits
print(is_kiwi_present)

False

In [21]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it

my_set = {'a', 'b', 'c'}
print(my_set)

{'b', 'a', 'c'}

In [22]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [23]:
# Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [24]:
#   Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [25]:
# Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [26]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

person = {"name": "John", "age": 25, "city": "New York"}
print(person)

{'name': 'John', 'age': 25, 'city': 'New York'}

In [27]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
# Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [29]:
# Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print(person)

{'name': 'Bob', 'city': 'New York'}

In [31]:
#  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
key_exists = 'city' in person
print(key_exists)

True

In [32]:
#  Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list, tuple, and dictionary
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30)
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}

# Printing all data structures
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [33]:
# . Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Creating a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sorting the list in ascending order
random_numbers.sort()

# Printing the sorted list
print(random_numbers)

[26, 38, 55, 84, 91]

In [34]:
#  Write a code to create a list with strings and print the element at the third index.


words = ["apple", "banana", "cherry", "date", "elderberry"]
print(words[3])

date

In [35]:
#  Write a code to combine two dictionaries into one and print the result.

# Creating two dictionaries
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "country": "USA"}

# Combining the dictionaries
combined_dict = {**dict1, **dict2}

# Printing the result
print(combined_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [36]:
# Write a code to convert a list of strings into a set.

# Creating a list of strings
fruits = ["apple", "banana", "cherry", "apple", "banana"]

# Converting the list into a set
fruits_set = set(fruits)

# Printing the set
print(fruits_set)

{'apple', 'banana', 'cherry'}